.back-button-container button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s;

    &:focus,
    &:focus-visible {
        outline: none;
    }


    &:hover {
        transform: scale(1.1);
    }
}

.back-button-container button:hover {
    transform: scale(1.1);
}