.order-confirmation-page {
  background: var(--color-bg-dark);
  padding: 0 10px;
  max-width: 1200px;
  margin: auto;
}

.card {
  border: 1px solid var(--color-border-dark);
  border-radius: 20px;
  padding: 16px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/src/assets/cart/background-dark.jpg);
  background-size: cover;
  background-position: center;
}

.order-header {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-border-dark);
}

.order-id, .order-date, .order-total {
  color: var(--color-primary);
}

.order-content {  
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.items li {
  display: grid;
  grid-template-columns: 10fr 0fr 4fr;
  gap: 8px;
  padding: 8px 0;
  border-bottom: 1px solid var(--color-border-dark);
}

.items .qty, .items .price {
  text-align: right;
}

address {
  font-style: normal;
  line-height: 1.6;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.back-arrow {
  width: 50px;
  height: 50px;
}

.back-button-container {
  display:flex;
  align-items: center;
  position: relative;
  padding: 12px 0;
}

.back-button-container > button {
  background: none;
  border: none;
  cursor: pointer;
  display:flex;
  padding: 0;
}

.back-button-container > h2 {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 700px) {
  .order-content {
    grid-template-columns: 1fr;
  }
}
