.app {
  min-height: 100vh;
  background-color: var(--color-bg-dark);
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding:0;
  display: flex;
  flex-direction: column;
}

.container {
   height: auto;
  overflow: visible;
  flex:1;
}




